<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>User info</h2>
        <% if @user.profile_image.attached? %>
          <%= image_tag @user.profile_image, size: "100x100" %>
        <% else %>
          <%= image_tag 'default-image', size: "100x100" %>
        <% end %>

      <table class="table table-striped">
        <tr>
          <td>name</td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td>introduction</td>
          <td><%= @user.introduction %></td>
        </tr>
        </table>
        <li><%= link_to "設定", edit_user_path(current_user.id) %></li>
      <h2>New book</h2>
      <% if @book.errors.any? %>
        <%= @book.errors.count %> errors prohibited this book from being saved:
        <ul>
          <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
          </ul>
        <% end %>

      <%= form_with model: @book do |f| %>
        <p>Title</p>
        <%= f.text_field :title %>

        <p>Opinion</p>
        <%= f.text_area :body %>

        <p><%= f.submit 'Create Book' %></p>
      <% end %>
    </div>
    <div class="col-lg-8">
      <h2>Users</h2>
      <table class="table table-striped">
        <tr>
          <th>image</th>
          <th>name</th>
          <th></th>
        </tr>
        <tr>
          <td>
            <% if @user.profile_image.attached? %>
              <%= image_tag @user.profile_image, size: "100x100" %>
            <% else %>
              <%= image_tag 'default-image', size: "100x100" %>
            <% end %>
          </td>
          <td><%= @user.name %></td>
          <td><%= link_to "show", user_path(current_user.id) %></td>
        </tr>
      </table>
    </div>
  </div>
</div>